@import url('https://fonts.googleapis.com/css?family=Space+Mono');

body{
  font-family: 'Space Mono', monospace;
}

header {
  width: 100%;
  display: grid;
  grid-column: auto;
  grid-gap: 1em;
  background-color: aqua;
}
header h1 {
  grid-column: 1;
  grid-row: 1;
}