@import url('https://fonts.googleapis.com/css?family=Space+Mono');

body {
	background-color: white;
	font-family: 'Space Mono', monospace;
}

@keyframes pulse {
	0% {
		color: rgb(0, 0, 0);
	}
	50% {
		color: rgb(20, 60, 120);
	}
	100% {
		color: rgb(0, 0, 0);
	}
}

header {
	width: 100%;
	display: grid;
	grid-column: auto;
	grid-row: auto;
	grid-gap: 1em;
}

header h1 {
	color: white;
	grid-column: 1;
	grid-row: 1;
	text-align: center;
	font-size: 6vw;
	animation: pulse 12s infinite;
}
